<launch>

	<include file="$(find cwru_davinci_hardware)/launch/dvrk_master_slave_single_noRVIZ.launch">
		<arg name="master" value="MTML"/>
		<arg name="slave" value="PSM2" />
		<arg name="config" value="$(find cwru_davinci_hardware)/share/cwru_dvrk/console-MTML-PSM2-Teleop.json"/>
	</include>
</launch>
