<launch>

	<include file="$(find davinci_launch)/launch/dvrk_master_slave_rviz_bothMTMs_bothPSMs_noRVIZ.launch">
		<arg name="master1" value="MTML"/>
		<arg name="slave1" value="PSM1" />
		<arg name="master2" value="MTMR" />
		<arg name="slave2" value="PSM2"/>
		<arg name="config" value="$(find davinci_launch)/share/cwru_dvrk/console-MTMR-PSM1-MTML-PSM2-Teleop.json"/>
	</include>
</launch>
