<launch>
	<arg name="rviz" default="false" />
	<include  file="$(find cwru_davinci_hardware)/xml/dvrk_dual_free_arms.xml">
		<arg name="slave1" value="PSM1" />
		<arg name="slave2" value="PSM2"/>
		<arg name="rviz" value="$(arg rviz)"/>
		<arg name="config" value="$(find cwru_davinci_hardware)/share/cwru_dvrk/default_default.json"/>
	</include>
</launch>
